@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background: #1F2937;
    color: #eee;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: stretch; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 3px 48px;
    padding: 5px 128px;
}

.header-logo {
    font-size: x-large;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 5px 128px;
    margin: 100px 48px;
    gap: 10%;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5%;
}

.hero-title {
    font-size: 50px;
    font-weight: 900;
}

.hero-text {
    color: #a4a2a2;
}

.hero-img {
    height: 400px;
}

button {
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
    color: white;
}

button.sign1 {
    border: none;
    background: #3882F6;
}

button.sign2 {
    border-color: #eee;
    background: #3882F6;
    border: 1px solid white;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    background: whitesmoke;
    padding: 100px 300px;   
    gap: 50px;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 800px; 
}

.info-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
} 

.info-image {
    width: 200px;
    flex: 1;
}

.info-text {
    color: #1F2937;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    background: #E5E7EB;
    padding: 100px 300px;   
    gap: 50px;
    font-size: 36px;
    color: #1F2937; 
}

.quote-text {
    font-style: italic;gi
    font: Helvetica, Arial, sans-serif;   
}


.quote-sign {
    display: flex;
    font-weight: 900;
    align-self: flex-end;
}