@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    width: 100%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0; /* remove browser default */
    padding: 0; /* remove browser default */
    background: #1F2937;
    color: #eee;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 3px 48px;
    padding: 5px 128px;
}

.header-logo {
    font-size: x-large;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 5px 128px;
    margin: 100px 48px;
    gap: 10%;
    box-sizing: border-box;
}

.hero-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5%;
}

.hero-title {
    font-size: 50px;
    font-weight: 900;
}

.hero-text {
    color: #a4a2a2;
}

.hero-img {
    display: flex;
    align-items: center; /* stretch is default, done to prevent distortion */
    flex: 1;
}

.hero-img > img {
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

button {
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
    color: white;
}

button.sign1 {
    margin-top: 10px; /* maintain space between text&button when resizing window */
    border: none;
    background: #3882F6;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: whitesmoke;
    padding: 50px 300px 100px 300px;   
    gap: 25px;
    margin: 0;
    box-sizing: border-box;
}

.info-header {
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-display {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;    
}

.info-group {
    display: flex;
    flex: 1 1 450px;
    max-width: 450px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
} 

.info-group > img {
    width: 100%;
    min-width: 120px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #3882F6;
}

.info-text {
    flex: 1 1 auto;
    color: #1F2937;
    text-align: center;
    box-sizing: border-box;
}

.quote {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    background: #E5E7EB;
    padding: 100px 300px;   
    gap: 50px;
    font-size: 36px;
    color: #1F2937; 
}

.quote-text {
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;   
}


.quote-sign {
    display: flex;
    font-weight: 900;
    align-self: flex-end;
}

.call {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;   
    gap: 50px;
}

.call-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #3882F6;
    border-style: solid;
    border-radius: 8px;
    padding: 50px 100px;  
}

.call-title {
    font-size: 28px;
    font-weight: bolder;
}

.call-text {
    color: #E5E7EB;
}

button.sign2 {
    border-color: #eee;
    background: #3882F6;
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 300px;   
    gap: 50px;
    text-align: center;    
}