@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    width: 100%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0; /* remove browser default */
    padding: 0; /* remove browser default */
    background: #1F2937;
    color: #eee;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 3px 48px;
    padding: 5px 128px;
}

.header-logo {
    font-size: x-large;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 5px 128px;
    margin: 100px 48px;
    gap: 10%;
    box-sizing: border-box; /* add */
}

.hero-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5%;
}

.hero-title {
    font-size: 50px;
    font-weight: 900;
}

.hero-text {
    color: #a4a2a2;
}

.hero-img {
    display: flex;
    align-items: center; /* stretch is default, done to prevent distortion */
    flex: 1;
}

.hero-img > img {
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

button {
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
    color: white;
    width: 130px;
    height: 36px;
    box-sizing: border-box;
}

button.sign1 {
    margin-top: 10px; /* maintain space between text&button when resizing window */
    border: none;
    background: #3882F6;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    padding: 50px 300px 100px 300px;   
    gap: 25px;
    margin: 0;
    box-sizing: border-box; /* add */
}

.info-header {
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;    
}

.info-group {
    display: flex;
    flex: 1 1 450px;
    max-width: 450px; /* add max width for img container */
    height: auto;
    flex-direction: column; /* use column to avoid wrap and avoid resize issues*/
    align-items: center;
    justify-content: center;
    gap: 18px;
} 

/* remove img class */
.info-group > img {
    width: 100%; /* change this to make img interactive */
    min-width: 120px; /* set min width */
    height: auto;
    border-radius: 8px;
    border: 1px solid #3882F6;
}

.info-text {
    flex: 1 1 auto;
    color: #1F2937;
    text-align: center;
    /* box-sizing: border-box; */
}

.quote {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E7EB;
    padding: 100px 300px;   
    gap: 50px;
    font-size: 36px;
    color: #1F2937; 
}

.quote-text {
    flex: 2;
    justify-content: flex-start;
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;   
}


.quote-sign {
    flex: 1;
    min-height: 50px;
    width: auto;
    align-self: flex-end;
    font-weight: 900;
    padding-left: 50px;
    text-align: right;
}

.call {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;   
}

.call-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #3882F6;
    border-style: solid;
    border-radius: 8px;
    padding: 50px 100px; 
    gap: 15px;
}

.call-left {
    display: flex;
    flex-direction: column;
    /* margin-right: 1%; */
    padding-right: 200px;
    gap: 5px;
}

.call-title {
    flex: 1;
    width: 100%;
    font-size: 28px;
    font-weight: bolder;
}

.call-text {
    flex: 1;
    color: #E5E7EB;
}

.call-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.sign2 {
    justify-content: center;
    flex: 0 0 auto;
    border-color: #eee;
    background: #3882F6;
    border: 1px solid white;
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* add to retain height*/
    padding: 1% 10%; /* add to prevent text wrap when resize*/  
    gap: 50px;
    text-align: center;    
}